#root{
  background-color: black;
}

.container {
  background-color: black;
}

.title{
  display: flex;
  justify-content: center;
  color: #2ecc71;
}

.search-label{
  color: #2ecc71;
  margin-right: 15px;
}
.search-bar {
  display: flex;
  justify-content: center;
}

.count {
  display: flex;
  justify-content: center;
  color: #2ecc71;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-input {
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #2ecc71;
  margin-right: 20px;
}

.search-button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #bbb;
  cursor: pointer;
}

.media-container{
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #2ecc71;
  margin: 4%;
  padding: 2%;
  overflow-wrap: break-word;
}

.media-name {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #2ecc71;
}

.media-format {
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  color: #2ecc71;
}

.media-size {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  color: #2ecc71;
}